{% extends 'base.html' %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}
  
<body class="hold-transition login-page">
<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
    </div>
    <div class="card-body">
      <p class="login-box-msg">Digita el email que ingresaste en el regitro.</p>
      <form  method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
              {{ form | crispy }}
          <div class="col-12">
            <input type="submit" class="btn btn-primary btn-block" value="Enviar">
          <!-- /.col -->
            </div>
        </div>
      </form>

      <p class="mt-3 mb-1">
        <a href="login.html">Login</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->

</body>
{% endblock content %}

