<style>
.buttons
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 0px;
}

.buttons .btn 
{
  padding: 0 10px;
  display: inline-flex;
  background: #ddd;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

.buttons .btn.active
{
  background: #444;
}

.buttons .btn:nth-child(2)
{
  font-size: 1.5em;
}

.buttons .btn:nth-child(3)
{
  font-size: 2em;
}

.content
{
  font-size: 1em;
}

.content h1,
.content h2,
.content h3
{
  font-size: 2em;
}

.content h5
{
  font-size: 1.5em;
}
.content p
{
  font-size: 1.25em;
}
.content table
{
  font-size: 1em;
}

</style>


    <div class="buttons">
      <span class="btn active" title="Letra estándar" onclick="document.getElementById('text').style.fontSize='1em'">A</span>
      <span class="btn" title="Letra tamaño medio" onclick="document.getElementById('text').style.fontSize='1.25em'">A</span>
      <span class="btn" title="Letra tamaño grande" onclick="document.getElementById('text').style.fontSize='1.75em'">A</span>
    </div>


  <script>
      let buttons = document.querySelector('.buttons')
      ;
      let btn = buttons.querySelectorAll('.btn');
      for (var i = 0; i <btn.length; i++){
        btn[i].addEventListener('click', function(){
          let current = document.
          getElementsByClassName('active');
          current[0].className = current[0].className.
          replace("active", "");
          this.className += " active";
        })
      }
  </script>