{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container ms-5 ">
      <h3>CITAS</h3>
        <div class="w-100">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                </div>
                </div>
              </nav>
              <div id="content">
                <section>
                    <div class="container">
                        <div class="row">
                                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
                                  <div class="text-end">
                                  <p class="lead text-muted"> </p>
                                  <p class="lead text-muted"> </p>
                                  <p class="lead text-muted"> </p>
                                  <p class="lead text-muted"> </p>
                                  <p class="lead text-muted"> </p>
                                  <p class="lead text-muted"> </p>
                                  <p class="lead text-muted"> </p>
                                  <p class="lead text-muted"> </p>

                                  </div>
                                    <h1 class="font-weight-bold mb-5"></h1>
                                     <a class="btn btn-success" href="tel:+573214950049"><i class="bi bi-telephone"; role="button"> LLAMA YA</i></a>
                                    <p class="lead text-muted"> </p>                                    
                                    <a class="btn btn-success" href="mailto:juan.castillo950@misena.edu.co"><i class="bi bi-envelope-at-fill"; role="button"> EMAIL</i></a>
                                </div>

                                <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
                                  <div class="text-end">
                                    <img src="{% static 'img/imagen 95.jpg' %}" width="580" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
              </div>
        </div>
    </div>



{% endblock content %}