{% load static %}

<footer class=" d-flex  sticky-bottom justify-content-center align-items-center pt-3 pb-3 border-top border-success" style=" width: 100%; position:absolute; bottom: 0;">
  <p class="col-md-4 mb-0 text-muted"> | <a href="http://www.ipsusis.com/tratamiento-de-datos/" target="_blank" style="text-decoration:none; color: black;" >POLÍTICAS DE DATOS</a> | ©2023 IPS USIS |<a href="https://fontawesome.com/icons" target="_blank" style="text-decoration:none; color: black;" > ÍCONOS USADOS</a> |</p>
</footer>

