{% extends 'base.html' %}

{% block content %}
{% load static %}

{% if request.user.is_authenticated %}
<h2> Bienvenido a IPS USIS</h2>
<br>
<br>
<div class="card">

<div class="card-body">
  <div class="row">
    <div class="col-sm-3">
      <p class="mb-0">Foto de perfil</p>
    </div>
    <div class="col-sm-9">
      <p class="text-muted mb-0"><img src={{ user.picture.url }} width="150" class="my-4" class="card-img-top" alt="..."></p>
    </div>
  </div>
  <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">Nombre Completo</p>
      </div>
      <div class="col-sm-9">
        <p class="text-muted mb-0">{{ user.first_name | upper }} {{ user.last_name | upper }}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">Correo Electrónico</p>
      </div>
      <div class="col-sm-9">
        <p class="text-muted mb-0">{{ user.email }}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">Cédula</p>
      </div>
      <div class="col-sm-9">
        <p class="text-muted mb-0">{{ user.cedula }}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">ROL</p>
      </div>
      <div class="col-sm-9">
        {% if request.user.is_especialista %}
        <p class="text-muted mb-0">ESPECIALISTA</p>
        {% elif request.user.is_staff %}
        <p class="text-muted mb-0">ADMINISTRADOR</p>
        {% else %}
        <p class="text-muted mb-0">PACIENTE</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<br>
<br>

<a type="button"  href="{%  url 'Editar_Usuarios' user.id %}" title="Editar Usuario" class="btn btn-outline-success"><i class="fa-solid fa-user-pen"></i></a>



{% else %}
                  <section>
                      <div class="container">
                          <div class="row">
                                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                    <div class="text-end">
                                      <img src="{% static 'img/logo.png' %}" width="100px"  alt="">
                                    </div>
                                      <h1 class="font-weight-bold mb-0"> TU HISTORIAL CLÍNICO A SOLO UN CLIC</h1>
                                      <p class="lead text-muted">El sistema de información clínico ahora está en tus manos a un solo clic.</p>
                                      <a class="btn btn-outline-success" href="{%  url 'Register' %}">REGISTRATE AQUÍ</a>
                                  </div>

                                  <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7">
                                    <div class="text-end">
                                      <img src="{% static 'img/21.png' %}" width="580" alt="">
                                      <p style="font-size: 12px;">imagen libre de copyright</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>

{% endif %}

{% endblock content %}