
<h1>IPS USIS</h1>

<H2>Historia Clínica</H2>

<h3 class="mt-3"> Historia Clínica Paciente: {{ phc.paciente.cedula }}</h3>


<div class="card mt-0">
<div class="card-body">
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">Nombre Completo</p>
      </div>
      <div class="col-sm-9">
        <p class="text-muted mb-0">{{ phc.paciente.first_name | upper }} {{ phc.paciente.last_name | upper }}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">Correo Electrónico</p>
      </div>
      <div class="col-sm-9">
        <p class="text-muted mb-0">{{ phc.paciente.email }}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">Cédula</p>
      </div>
      <div class="col-sm-9">
        <p class="text-muted mb-0">{{ phc.paciente.cedula }}</p>
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Antecedentes</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{ phc.antecedentes }}</p>
        </div>
      </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Epicrisis</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{ phc.epicrisis}}</p>
        </div>
      </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Diagnóstico</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{ phc.diagnostico }}</p>
        </div>
      </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Tratamientos</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{ phc.tratamientos }}</p>
        </div>
      </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Recomendaciones</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{ phc.recomendaciones }}</p>
        </div>
      </div>
     

  
</div>