{% extends 'base.html' %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
    </div>
    <div class="card-body">
      <p class="login-box-msg">Digita el correo electrónico que ingresaste en el registro.</p>
      <form  method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
              {{ form | crispy }}
          <div class="col-12">
            <input type="submit" class="btn btn-outline-success float-end" value="Enviar">
          <!-- /.col -->
            </div>
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
{% endblock content %}

